<!-- The food search page -->
<div class="ui grid">
    <div class="ui three wide column"></div>
    <div class="ui ten wide column">
        <form [formGroup]="FoodForm" (ngSubmit)="onSearch(FoodForm.value)">
            <div class="ui fluid action input">
                <select class="ui dropdown" name="search_type" id="search_type" formControlName="search_type">
                    <option value="">Choose Search Option</option>
                    <option *ngFor="let f of food" value="{{f.value}}">{{f.name}}</option>
                </select>
                <input id="search_box" type="text" name="search_box" formControlName="search_box">
                <button type="submit" class="ui button green">Search</button>
            </div>
        </form>
    </div>
    <div class="ui three wide column"></div>
</div>
<div class="ui divider"></div>
<div>
    <div class="ui two column grid">
        <div class="column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3 class="ui header">Matching Food</h3>
                </div>
                <div id="match" class="ui orange segment">
                    <div class="ui list huge">
                        <div *ngFor="let s of search_result" class="item">
                            <i class="icon food"></i>
                            <a herf="#" (click)="info(s)" class="content">{{ s.name }}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <form [formGroup]="AddForm" (ngSubmit)="onUpload(AddForm.value)">
                <div class="ui segments">
                    <div id="info" class="ui segment">
                        <h3 id="title" class="ui header">Food name</h3>
                        <div class="ui horizontal divider header">How much ?</div>
                        <div>
                            <div class="ui input">
                                <input name="energy" formControlName="energy" id="energy" type="text">
                            </div>
                            <input name="food_name" formControlName="food_name" id="food_name" type="hidden"> &nbsp;&nbsp;
                            <b>servings of</b>&nbsp;&nbsp;
                            <select class="ui dropdown">
                      <option value="cup">1 CUP</option>
                      <option value="tbs">1 tbsp(s)</option>
                      <option value="tsp">1 tsp(s)</option>
                      <option value="mm">1 millimeter</option>
                    </select>
                        </div>
                        <br>
                        <div>
                            <b>To which meal ?</b></div>
                        <br>
                        <div>
                            <select name="meal" id="meal" formControlName="meal" class="ui dropdown">
                      <option value="">Choose</option>
                      <option value="breakfast">Breakfast</option>
                      <option value="lunch">lunch</option>
                      <option value="supper">Supper</option>
                      <option value="snacks">Snacks</option>
                    </select>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div id="btn">
                            <input class="ui button orange" type="submit" value="Add Food to Diary">
                            <input class="ui button orange" type="button" value="Nutrition Info">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>