<!-- The body of the carousel and the pics to use -->
<div class="owl-carousel owl-theme">
    <div class="item">
        <img src="../../assets/img/caro1.jpg">
    </div>
    <div class="item">
        <img src="../../assets/img/caro2.jpg">
    </div>
    <div class="item">
        <img src="../../assets/img/caro3.jpg">
    </div>
    <div class="item">
        <img src="../../assets/img/caro4.jpg">
    </div>
    <div class="item">
        <img src="../../assets/img/caro5.jpg">
    </div>
</div>