<!-- The navbar for the app, appear everywhere but changes internally -->
<app-navbar></app-navbar>
<br>
<!-- This is where every page appears, under the router outlet -->
<router-outlet></router-outlet>
<br>
<!-- The footer for the app, static and constant an each page -->
<app-footer></app-footer>