<!-- This load the child charts and info into it -->
<div class="ui container">
    <div class="ui orange secondary pointing menu">
        <a routerLink="{{n.link}}" routerLinkActive="active" *ngFor="let n of nav" class="item">
            {{n.name}}
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input id="date" class="ui button" type="text">
                </div>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>