<!-- The not found page, page 404 -->
<div class="ui container">
    <div id="zero">
        <div class="ui huge header">{{code}}</div>
    </div>
    <div id="four">
        <div>{{message | uppercase}}</div>
    </div>
</div>