#four {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

#zero {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#zero>div {
    color: red;
}