<!-- This shows the physical activity page -->
<div class="ui container">
    <h3 class="ui header">Calories burned form exercise</h3>
    <div class="ui divider"></div>
    <div class="ui three column grid stackable">
        <div class="column">
            <h4>Search our exercise database by name</h4>
            <form [formGroup]="SearchForm" (ngSubmit)="onSubmit(SearchForm.value)">
                <div class="ui fluid icon action input">
                    <input type="text" name="search" formControlName="search" placeholder="Search for Exercise">
                    <button type="submit" class="ui button green" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="column">
            <h4>...or choose an exercise below</h4>
            <form [formGroup]="ChooseForm" (ngSubmit)="onSubmit(ChooseForm.value)">
                <div class="ui action input fluid">
                    <select class="ui scrolling dropdown fluid" name="choose" formControlName="choose">
                        <option value="">Choose Exercise</option>
						<option *ngFor="let e of exercise" value="{{e.value}}">{{e.name}}</option>
					</select>
                    <button class="ui button green" type="submit">Choose</button>
                </div>
            </form>
        </div>
        <div class="column">
            <h4>...or upload an exercise below</h4>
            <form enctype="multipart/form-data" [formGroup]="UploadForm" (ngSubmit)="onSubmit(UploadForm.value)">
                <div class="ui fluid icon action input">
                    <input type="file" name="upload" formControlName="upload">
                    <button type="submit" class="ui button green" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <div class="ui two column grid stackable">
        <div class="column">
            <div class="ui segments">
                <div class="ui tertiary segment">
                    <h4>Matching Exercise</h4>
                </div>
                <div id="match" class="ui segment">

                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segments">
                <div class="ui tertiary segment">
                    <h4>How many Colories did I burn</h4>
                </div>
                <div class="ui secondary segment">
                    <form id="calories" [formGroup]="CaloriesForm" (change)="onSubmit(CaloriesForm.value)" class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>Your weight</label>
                                <input type="text" name="weight" formControlName="weight"> Kilograms
                            </div>
                        </div>
                        <div class="inline field">
                            <label>How Long</label>
                            <input type="text" name="time" formControlName="time"> Minutes
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>