<!-- The login form and page -->
<div class="ui container">
    <div>
        <div class="ui grid stackable">
            <div class="six wide column">
                <br>
                <div class="ui segments raised">
                    <div class="ui segment">
                        <div class="ui orange ribbon label">
                            <h3>LOG IN</h3>
                        </div>
                    </div>
                    <div class="ui segment orange">
                        <form class="ui form" [formGroup]="LoginForm" (ngSubmit)="onLogin(LoginForm.value)">
                            <div class="field">
                                <label><h4>Username</h4></label>
                                <div class="ui left icon input">
                                    <i class="icon user"></i>
                                    <input type="text" name="username" formControlName="username">
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <label><h4>Password</h4></label>
                                <div class="ui left icon input">
                                    <i class="icon lock"></i>
                                    <input type="password" name="password" formControlName="password">
                                </div>
                            </div>
                            <button [disabled]="!LoginForm.valid" type="submit" class="ui button fluid orange">Log In</button>
                        </form>
                    </div>
                    <div class="ui segment secondary">
                        <p id="forgot"><a routerLink="#">Forgot Password ?</a></p>
                    </div>
                </div>
            </div>
            <div class="ten wide column">
                <div class="ui fluid card">
                    <div class="image">
                        <img class="ui image" src="../../assets/img/pic6.jpg">
                    </div>
                    <div class="content">
                        <div class="header">
                            Maintain your Weight
                        </div>
                        <div class="meta">
                            Without any side effect
                        </div>
                        <div class="description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quasi omnis iste maiores, rem autem quisquam nostrum perspiciatis molestias doloribus.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            rating
                            <div class="ui heart rating" data-rating="4" data-max-rating="5"></div>
                        </span>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>