<!-- holds the sign up page and form -->
<div>
    <div class="ui container">
        <h2 class="ui header" id="heading">Create An Account with Us!</h2>
        <div class="ui divider"></div>
        <div id="pstep">
            <div class="ui steps">
                <div *ngFor="let s of step" id="{{s.id}}" class="step {{s.time}}">
                    <i class="ui icon {{s.icon}}"></i>
                    <div class="content">
                        <div class="title">{{s.title}}</div>
                        <div class="description">
                            {{s.description}}
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="SignUpForm" (ngSubmit)="onSignUp(SignUpForm.value)">
                <div id="step1">
                    <br>
                    <div id="fcon1" class="ui form">
                        <div class="two fields">
                            <div class="field">
                                <label>First Name</label>
                                <input type="text" name="first_name" formControlName="first_name" placeholder="Enter first name here ...">
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <input type="text" name="last_name" formControlName="last_name" placeholder="Enter last name here ...">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Username</label>
                                <input type="text" name="username" formControlName="username" placeholder="Choose a unique username">
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input type="email" name="email" formControlName="email" placeholder="example@something.com">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Password</label>
                                <input type="password" name="password" formControlName="password">
                            </div>
                            <div class="field">
                                <label>Comfirm Password</label>
                                <input type="password" name="confirm_password" formControlName="confirm_password">
                            </div>
                        </div>
                        <div class="btns">
                            <a (click)="cstep(1);" id="cstep1" class="ui green right labeled icon button">Save & Continue<i class="right chevron icon"></i></a>
                        </div>
                        <br><br>
                    </div>
                </div>
                <div id="step2">
                    <br>
                    <div id="fcon2" class="ui form">
                        <div class="two fields">
                            <div class="field">
                                <label>Date of birth</label>
                                <input id="date_of_birth" type="text" name="date_of_birth" formControlName="date_of_birth" placeholder="Format is 10/26/1991">
                            </div>
                            <div class="field">
                                <label>Gender</label>
                                <select class="ui dropdown" name="gender" formControlName="gender">
								<option value="UNKNOWN">Gender</option>
								<option value="MALE">Male</option>
								<option value="FEMALE">Female</option>
							</select>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Height</label>
                                <div class="ui right labeled input">
                                    <input type="text" name="height" formControlName="height" placeholder="Eg. 1.56">
                                    <div class="ui basic label">
                                        centimetres
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Weight</label>
                                <div class="ui right labeled input">
                                    <input type="text" name="weight" formControlName="weight" placeholder="Eg. 62">
                                    <div class="ui basic label">
                                        kilograms
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Activity Level</label>
                            <select class="ui dropdown" name="activity_level" formControlName="activity_level">
								<option value="">Activity Level</option>
								<option value="LITTLE_TO_NO_EXERCISE">Little To No Exercise</option>
								<option value="LITTLE_EXERCISE">Little Exercise : 1-3 days per week</option>
								<option value="MODERATE_EXERCISE">Moderate Exercise : 3-5 days per week</option>
                <option value="HEAVY_EXERCISE">Heavy Exercise : 6-7 days per week</option>
                <option value="VERY_HEAVY_EXERCISE">Very Heavy Exercise : Twice per day, extra heavy workouts</option>
							</select>
                        </div>
                        <a (click)="bstep(2);" class="ui orange labeled icon button"><i class="left chevron icon"></i>Back</a>
                        <span class="btns">
						<a (click)="cstep(2);" class="ui green right labeled icon button">Save & Continue<i class="right chevron icon"></i></a>
					</span>
                    </div>
                </div>
                <div id="step3">
                    <br>
                    <div id="fcon3" class="ui form">
                        <div class="ui segments">
                            <div class="ui segment">
                                <h4>Do you have any of these ?</h4> Please check if you do.
                            </div>
                            <div class="ui segment orange">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="diabetes" formControlName="diabetes">
                                    <label>Diabeties</label>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="heart_disease" formControlName="heart_disease">
                                    <label>Heart Disease</label>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="high_cholesterol" formControlName="high_cholesterol">
                                    <label>High Cholesterol</label>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="high_blood_pressure" formControlName="high_blood_pressure">
                                    <label>High Blood Pressure</label>
                                </div>
                            </div>

                        </div>
                        <a (click)="bstep(3);" class="ui orange labeled icon button"><i class="left chevron icon"></i>Back</a>
                        <span class="btns">
						<button type="submit" [disabled]="!SignUpForm.valid" class="ui green right labeled icon button">Save & Submit<i class="thumbs up icon"></i></button>
					</span>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <br>