#heading {
    text-align: center;
}

.flabel {
    padding: 10px;
    text-align: right;
}

#pstep {
    text-align: center;
}

.btns {
    float: right;
}

@media screen and (min-width: 796px) {
    #fcon1,
    #fcon2,
    #fcon3 {
        margin-left: 25%;
        margin-right: 25%;
        text-align: left;
    }
}