<!-- This displays the nutrients chart and table of values -->
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            <h5 class="ui header">Nutrients</h5>
            <div class="ui divider"></div>
            <div id="protein" class="ui purple progress">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">Protein</div>
            </div>
            <div id="carbohydrate" class="ui yellow progress">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">Carbohydrates</div>
            </div>
            <div id="fiber" class="ui pink progress">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">Fat</div>
            </div>
        </div>
    </div>
    <div class="column">
        <table class="ui basic table">
            <thead>
                <tr>
                    <th></th>
                    <th class="right aligned">Total</th>
                    <th class="right aligned">Goal</th>
                    <th class="right aligned">Left</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carbohydrates({{carbohydrates}})</td>
                    <td class="right aligned">34</td>
                    <td class="right aligned">13</td>
                    <td class="right aligned">13</td>
                </tr>
                <tr>
                    <td>Fat({{fat}})</td>
                    <td class="right aligned">34</td>
                    <td class="right aligned">56</td>
                    <td class="right aligned">13</td>
                </tr>
                <tr>
                    <td>Protein({{protein}})</td>
                    <td class="right aligned">56</td>
                    <td class="right aligned">78</td>
                    <td class="right aligned">13</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>