<!-- This is a component meant to hold the child components of diary tab -->
<div class="ui container">
    <div class="ui top attached tabular menu">
        <a routerLink="{{n.link}}" routerLinkActive="active" *ngFor="let n of nav" class="item">
            {{n.name}}
        </a>
    </div>
    <div class="ui bottom attached segment">
        <!-- The child components come after this -->
        <router-outlet></router-outlet>
    </div>
</div>