<!-- This placing the macros chart and table values -->
<div class="ui segment">
    <div class="ui grid">
        <div class="ten wide column">
            <div id="canvas_holder">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <div class="six wide column">
            <table class="ui basic table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="right aligned">Total</th>
                        <th class="right aligned">Goal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Carbohydrates({{carbohydrates}})</td>
                        <td class="right aligned">{{ calculateCarbohydratePercent()}}%</td>
                        <td class="right aligned">50%</td>
                    </tr>
                    <tr>
                        <td>Fat({{fat}})</td>
                        <td class="right aligned">{{ calculateFatPercent()}}%</td>
                        <td class="right aligned">30%</td>
                    </tr>
                    <tr>
                        <td>Protein({{protein}})</td>
                        <td class="right aligned">{{calculateProteinPercent()}}%</td>
                        <td class="right aligned">20%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>