<!-- The footer of the page, holds links, info about app and contacts -->
<div id="footer">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="seven wide column">
                <div class="ui segment orange inverted">
                    <h3>About Us</h3>
                    <div class="ui divider"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi inventore, non. Dolor fuga, fugit hic ipsum nesciunt provident quae recusandae ullam veniam. Dolorum expedita illum iure iusto quidem repellat saepe tempora tenetur ut voluptatibus? Dicta
                        dolor eos inventore quisquam rerum sed tenetur. Aliquid at atque autem, dolorem ex expedita explicabo id illum, impedit ipsam ipsum iure mollitia nam numquam odit pariatur quae quia quos reiciendis repellat saepe totam veritatis
                        voluptate?
                    </p>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui segment orange inverted">
                    <h3>Contact Us</h3>
                    <div class="ui divider"></div>
                    <h4 class="ui header">
                        <i class="ui icon marker red"></i>
                        <div class="content">
                            <div class="sub header" style="color: white;">21 legon street.</div>
                            Accra, Ghana.
                        </div>
                    </h4>
                    <h4 *ngFor="let c of contact" class="ui header"><i class="ui icon {{c.icon}}"></i> {{c.text}}</h4>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui segment orange inverted">
                    <h3>Get In Touch</h3>
                    <div class="ui divider"></div>
                    <div>
                        <p *ngFor="let s of social">
                            <button class="ui button fluid {{s.icon}}"><i class="ui icon {{s.icon}}"></i>{{s.text}}</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <h3 style="text-align: center;">LeanOn &copy; 2018</h3>
    </div>
</div>