<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <div class="ui header">Your Daily Summary<span id="top">Something</span></div>
        </div>
        <div class="ui orange segment">
            <div class="ui grid">
                <div class="eight wide column">
                    <div id="sta">
                        <div class="ui statistic">
                            <div class="ui label">
                                Calories Remaining
                            </div>
                            <div class="value">
                                {{ currentUser.dietary_reference_intake - currentFood }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column"><a class="ui button orange fluid" routerLink="../physical-activity">Add Exercise</a></div>
                <div class="four wide column"><a class="ui button green fluid" routerLink="../diary/food">Add Food</a></div>
            </div>
            <div class="ui divider"></div>
            <div class="ui six column grid">
                <div class="column">
                    <div class="ui header">
                        {{ currentUser.dietary_reference_intake }}
                        <div class="sub header">GOAL</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui header">
                        {{ currentFood }}
                        <div class="sub header">FOOD</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui header">
                        -
                        <div class="sub header"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui header">
                        0
                        <div class="sub header">EXERCISE</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui header">
                        =
                        <div class="sub header"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui header">
                        {{ currentFood }}
                        <div class="sub header">NET</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui progress">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>