<!-- This is the main diary to allow users view, add or remove food
form the diary -->
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segments">
            <div class="ui inverted orange segment">
                <h5>Breakfast</h5>
            </div>
            <div *ngFor="let b of breakfast" class="ui segment">
                <div class="ui tiny header">
                    {{b.name}}
                    <div class="sub header">
                        Energy contained: {{b.energy}}
                    </div>
                </div>
            </div>
            <div class="ui orange segment">
                <a routerLink="../search"><i class="ui plus icon"></i> Add Food</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segments">
            <div class="ui inverted orange segment">
                <h5>Lunch</h5>
            </div>
            <div *ngFor="let l of lunch" class="ui segment">
                <div class="ui tiny header">
                    {{l.name}}
                    <div class="sub header">
                        Energy contained: {{l.energy}}
                    </div>
                </div>
            </div>
            <div class="ui orange segment">
                <a routerLink="../search"><i class="ui plus icon"></i> Add Food</a>
            </div>
        </div>
    </div>
</div>
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segments">
            <div class="ui inverted orange segment">
                <h5>Dinner</h5>
            </div>
            <div *ngFor="let d of dinner" class="ui segment">
                <div class="ui tiny header">
                    {{d.name}}
                    <div class="sub header">
                        Energy contained: {{d.energy}}
                    </div>
                </div>
            </div>
            <div class="ui orange segment">
                <a routerLink="../search"><i class="ui plus icon"></i> Add Food</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segments">
            <div class="ui inverted orange segment">
                <h5>Snacks</h5>
            </div>
            <div *ngFor="let s of snacks" class="ui segment">
                <div class="ui tiny header">
                    {{s.name}}
                    <div class="sub header">
                        Energy contained: {{s.energy}}
                    </div>
                </div>
            </div>
            <div class="ui orange segment">
                <a routerLink="../search"><i class="ui plus icon"></i> Add Food</a>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <table class="ui celled definition table">
        <thead>
            <tr>
                <th></th>
                <th>Calories</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <th>Protein</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Totals</td>
                <td>{{ total_calories }}</td>
                <td>{{ total_carbohydrate }}</td>
                <td>{{ total_fat}}</td>
                <td>{{ total_protein }}</td>
            </tr>
            <tr>
                <td>Your Daily Goal</td>
                <td>{{ currentUser.dietary_reference_intake }}</td>
                <td>{{ calculateCarbohydrates() }}</td>
                <td>{{ calculateFats() }}</td>
                <td>{{ calculateProtein() }}</td>
            </tr>
            <tr>
                <td>Remaining</td>
                <td>{{ currentUser.dietary_reference_intake - total_calories }}</td>
                <td>{{ calculateRemainingcarbo() }}</td>
                <td>{{ calculateRemainingFats() }}</td>
                <td>{{ calculateRemainingProtein() }}</td>
            </tr>
        </tbody>
    </table>
</div>