<!-- The navbar and it links -->
<div class="ui menu stackable">
    <a class="header item" routerLink="" (click)="all();"><i class="ui icon diamond"></i>LeanOn</a>
    <a *ngFor="let n of nav" id="{{n.link}}" class="item orange" routerLink="{{n.link}}" routerLinkActive="active" (click)="some();">
        <i class="ui icon {{n.img}} {{n.color}}"></i>{{n.name}}
    </a>
    <div class="right menu">
        <div id="all" class="item">
            <a routerLink="login" (click)="all();"><b>Log In</b></a> &nbsp;&nbsp;or&nbsp;&nbsp;
            <div class="ui orange button" routerLink="signup" (click)="all();">Sign Up</div>
        </div>
        <div id="some" class="item">
            <div class="ui red button" routerLink="" (click)="all();logOut();">Log Out</div>
        </div>
    </div>
</div>