<!-- This displace a chat and table for it TypeScript file -->
<div class="ui segment">
    <div class="ui stackable grid">
        <div class="ten wide column">
            <div id="canvas_holder">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui tiny header">
                        <span>Total Calories</span>
                        <span class="digit">{{currentFood}}</span>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui tiny header">
                        <span>Net Calories</span>
                        <span class="digit">{{currentFood}}</span>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui tiny header">
                        <span>Goal</span>
                        <span class="digit">{{currentUser.dietary_reference_intake}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>